<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>CARRITO</h1>

    El carrito se ha creado, su ID es 
    
    <%= carrito[carrito.length-1]["id"] %>

    <br>

    <!-- <table class="default" border="1px solid black" >

        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Producto</th>
        </tr>
      
            <% for(let i=0; i < carrito.length; i++) { %>
                <tr>
                    <td> <%= carrito[i].id %></td>
                    <td> <%= carrito[i].timestamp %></td>
                    <td> <%= carrito[i].productos["nombre"] %></td>
                </tr>
            <% } %>
    
      
      </table> -->

      <a href="/api/productos" >Volver</a>

</body>
</html>